*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.ore{
    position: sticky;
    top: 0;
}

.aaa{
            width: 40px;
            height: 40px;
            border: 1px solid;
            border-radius: 8px;
            background-color: rgb(49, 49, 104);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .bbb{
            display: flex;
            align-items: center;
        }
        .ccc{
            height: 50px;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .eee{
            display: flex;
            gap: 20px;
            align-items: center;
            list-style: none;
        }
        .fff{
            margin-left: 10px;
        }
        .ggg{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 210px;
        }
        .hhh{
            width: 120px;
            height: 80px;
            border-radius: 8px;
            background-color: white;
            padding: 10px;
        }
        .footer{
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .iii{
            padding: 0px 160px 0 160px;
            border: 1px solid;
            border-radius: 8px;
        }
        .jjjj{
            background-image: url(sadio\ mane.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            box-shadow: 0 0 2px;
            width: 300px;
            height: 200px;
        }
        .kkk{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            border-radius: 8px;
           padding: 20px;
            background-color: rgb(241, 241, 250);
        }
        .lll{
            padding: 0px 160px 0 160px;
           
           
        }
        .mmm{
            margin-top: 10px;
        }
        .ddd{
            background-color: rgb(157, 157, 186);
        }
        .nnn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
        
        .itr{
            margin-top: 10px;
        }
        .loi{
            color: rgb(60, 60, 143);
            font-weight: bolder;
            font-size: 30px;
        }
        .fue{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60px;
            text-align: center;
            margin-left: 47%;
            margin-top: 15px;
        }
        .tue{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid rgb(117, 117, 184);
            background-color: rgb(117, 117, 184);
        }
        .tue:hover{
            background-color: blue;
        }
        .tri{
            margin-top: 25px
        }
        .vvv{
            height: 130px;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
        }
        .vvvi{
            height: 280px;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
            transition: 0.5s ease;
        }
        .vvvi:hover{
            transform: scale(1.1);
        } 
        .www{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            padding: 10px 140px 10px 140px;
        }
        .ert{
            font-size: 15px;
        }
        a{
            text-decoration: none;
        }
        .ht{
            font-size: larger;
            font-weight: bolder;
            color: rgb(65, 65, 146);
        }
        .juo{
            margin-left: 10px;
            margin-top: 10px;
        }
        .asd{
            height: 170px;
            width: 100%;
            border-radius: 8px 8px 0 0px;
        }
       
        .wwwi{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
            padding: 10px 140px 10px 140px;
        }
        .ooo{
            font-size: 30px;
            color: rgb(0, 0, 94);
        }
        .ppp{
            text-align: center;
            margin-top: 60px;
            
        }
        .qqq{
            border-radius: 8px;
            background-color: white;
            border: 1px solid white;
            width: 120px;
            height: 25px;
        }
        .rrr{
            width: 49%;
            height: 100px;
            border: 1px solid;
            background-color: white;
            border-radius: 8px;
            margin-top: 10px;
            border: 1px solid white;
        }
        .sss{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 150px 0 150px;
           
        }
        .hie{
            font-size: larger;
            font-weight: bold;
        }
        .ui{
            padding: 0 150px 0 150px;
            text-align: center;
            margin-top: 50px;
        }
        .zzz{
            
            background-color: white;
            height: 90px;
            text-align: center;
            border-radius: 10px;
            line-height: 13px;
        }
        .zzzi{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            margin-top: 20px;
            padding: 0 150px 0 150px;
        }
        .up{
            background-color: white;
            color: black;
            border: 1px solid white;
            border-radius: 8px;
            height: 30px;
        }
        .uo{
            background-color: blue;
            border: 1px solid blue;
            border-radius: 8px;
            color: white;
            height: 30px;
        }
        .ty{
            background-color: rgb(220, 227, 233);
            border: 1px solid rgb(220, 227, 233);
            height: 23px;
            border-radius: 8px;
        }
        .po{
            height: 110px;
            background-color: rgb(0, 0, 94);
            border: 1px solid blue;
            border-radius: 10px;
            color: white;
        }
        .image{
            height: 200px;
        }
        .qo{
            margin-left: 10px;
            
        }

        
        @media(max-width:767px){
        .ccc{
            height: max-content;

            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
        }
        .kkk{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            border-radius: 8px;
           padding: 20px;
            background-color: rgb(241, 241, 250);
        }
        .www{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            padding: 10px 140px 10px 140px;
        }
        .nnn{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
        }
         .kkk{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            border-radius: 8px;
           padding: 0 20px 10px ;
            background-color: rgb(241, 241, 250);
        }
        .lll{
            padding: 0px 0px 0 0px;
           
           
        }
        .hhh{
            width: 100%;
            height: 80px;
            border-radius: 8px;
            background-color: white;
            padding: 10px;
            text-align: center;
        }
        .jjjj{
            background-image: url(sadio\ mane.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            box-shadow: 0 0 2px;
            width: 300px;
            height: 200px;
            margin-top: 20px;
        }
         .www{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            padding: 10px 10px 10px 10px;
        }
        .wwwi{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            padding: 10px 10px 10px 10px;
        }
        .zzzi{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            margin-top: 20px;
            padding: 0 20px 0 20px;
        }
        .po{
            height: max-content;
            background-color: rgb(0, 0, 94);
            border: 1px solid blue;
            border-radius: 10px;
            color: white;
            padding: 10px;
        }
        .ui{
            padding: 0 10px 0 10px;
            text-align: center;
            margin-top: 50px;
        }
        .fue{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 60px;
            text-align: center;
            
        }
        .footer{
            height: 40px;
            background-color: white;
            text-align: center;
            margin-top: 20px;
        }
        .vvv{
            height: max-content;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
        }
        .vvvi{
            height: max-content;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
            transition: 0.5s ease;
        }
        .vvvi:hover{
            transform: scale(1.1);
        }
        }
        


        @media(min-width:768px) and (max-width:1023px){
            .ccc{
            height: max-content;
            padding: 8px;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .kkk{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            border-radius: 8px;
           padding: 20px;
            background-color: rgb(241, 241, 250);
        }
        .www{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            padding: 10px 60px 10px 60px;
        }
        .nnn{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
        }
         .kkk{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            border-radius: 8px;
           padding: 0 0px 10px ;
            background-color: rgb(241, 241, 250);
        }
        .lll{
            padding: 0px 60px 0 60px;
           
           
        }
        .hhh{
            width: 100%;
            height: 80px;
            border-radius: 8px;
            background-color: white;
            padding: 10px;
            text-align: center;
        }
        .jjjj{
            background-image: url(sadio\ mane.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            box-shadow: 0 0 2px;
            width: 300px;
            height: 200px;
            margin-top: 20px;
        }
         .www{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            padding: 10px 60px 10px 60px;
        }
        .wwwi{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            padding: 10px 60px 10px 60px;
        }
        .zzzi{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            margin-top: 20px;
            padding: 0 60px 0 60px;
        }
        .po{
            height: max-content;
            background-color: rgb(0, 0, 94);
            border: 1px solid blue;
            border-radius: 10px;
            color: white;
            padding: 10px;
        }
        .ui{
            padding: 0 60px 0 60px;
            text-align: center;
            margin-top: 50px;
        }
        .fue{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 60px;
            text-align: center;
            
        }
        .footer{
            height: 40px;
            background-color: white;
            text-align: center;
            margin-top: 20px;
        }
        .vvv{
            height: 150px;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
        }
        .vvvi{
            height: 300px;
            border: 1px solid white;
            background-color: white;
            border-radius: 8px;
            transition: 0.5s ease;
        }
        .vvvi:hover{
            transform: scale(1.1);
        }
        }